
---
layout: layout
---

<main class="contents u-center u-height">
  <img src="/img/ball.jpg" alt="crystall ball" style="width: 200px; height: auto;">
  <h2>Hello, I'm Fediverse Crystal Ball</h2>
  <span class="u-temp u-block">I can do one thing and do it well</span>
  <span>I know all the answers to the Question:</span>

  <h4 class="question">🌠 Why should I join federated social networks 🌠</h4>

  <button id="getReason" class="btn btn-action u-emphasize question" title="get answer" >GET ANSWER</button>
  <h3 id="reason" class="question">?</h3>
</main>
