
---
layout: layout
network: true
---

<%
  const data = site.data.friendica.data;
  const dreamhost = 'Dreamhost ' + __('guide');
  const tuts = [__('installation'), dreamhost, __('selfhost')];
  const utils = [__('rss2Friendica')];
%>

<%- partial('_partial/heroheader') %>

<main class="contents">

  <%- partial('_partial/header') %>

  <div class="section-wrapper">

    <%- partial('_partial/generalinfo') %>

    <section class="column">
      <div class="section u-block">
        <h4><%- __('techies') %></h4>
        <ul class="section-list">
          <% for (item in data.tutorials) { %>
            <% let n = data.tutorials[item].id %>
            <li class="u-inline">
              <a href="<%= data.tutorials[item].url %>"><%= tuts[n] %></a><span>&nbsp;/&nbsp;</span>
            </li>
          <% } %>
        </ul>
      </div>
      <div class="section u-block">
        <h4><%- __('utilities') %></h4>
        <ul class="section-list">
          <% for (item in data.utilities) { %>
            <% let u = data.utilities[item].id %>
            <li>
              <a href="<%= data.utilities[item].url %>"><%= utils[u] %></a>
            </li>
          <% } %>
        </ul>
      </div>
    </section>
  </div>

  <%- partial('_partial/world') %>
  <br>
  <%- partial('_partial/contributing') %>

  <%- partial('_partial/buttons') %>
</main>
