
.network h2 {
  text-transform: uppercase;
}

.network .subheading {
  background: rgba($asphalt, .4);
  padding: .1em .5em;
}

.network .section-title {
  position: relative;
}

.network aside {
  position: absolute;
  right: 0;
  top: -1em;
  line-height: 1.5;
  text-align: right;
}

.network .connections li {
  margin-right: .3em;
}

.connections .section-list {
  margin-top: -.4em;
}

svg.f-highlight {
  position: relative;
  width: 18px;
  height: 18px;
  top: .2em;
  right: .2em;
}

.server-list {
  margin-left: 1.3em;
}

img.mascot {
  display: inline-block;
  margin: 0 .2em;
}

.screens {
  display: flex;
  flex-direction: column;
  margin: .4em 0;
}

.screen {
  flex: 100% 0 0;
  margin: .3em;
}

.screen > img {
  width: 70%;
  border: 1px solid $grey;
}

.screen figcaption {
  text-align: center;
  font-size: .85rem;
  color: $asphalt;
  opacity: .7;
  margin-bottom: .7em;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features > li {
  flex: 50% 0 0;
  padding: 0;
}

@media screen and (max-width: $mq-small) {

  .network .subheading {
    padding: .4em;
    margin-top: 1.2em;
  }
  .network aside {
    display: none;
  }

  .features > li {
    flex: 100% 0 0;
  }

  .network .connections li:first-of-type {
    margin-top: 1em;
  }
}
